.navbar {
    height: 50px;
}

.nav-elements {
    display: flex;
    position: absolute;
    list-style: none;
}

.nav-link {
    padding-left: 60px;
}

.card {
    margin: 1rem;
}

.footer {
    margin: 1rem;
}